.admin {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}
.admin__users {
  margin: 0.5vw;
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.search__field {
  width: 50%;
  height: 40px;
  padding: 15px;
  outline: none;
  resize: none;
  font-size: 1.1em;
  border-radius: 5px;
  border-color: #bfbfbf;
}
@media (max-width: 800px) {
  .search__field {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .search__field {
    width: 95%;
  }
}

.users {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1vw;
}
.users__user {
  margin-top: 0.8vw;
}
.users__not-found {
  text-align: center;
  color: #2c2c2c;
  font-size: 2em;
  font-weight: bold;
}
.users__loader {
  width: 100px;
  align-self: center;
  margin-top: 10px;
}

.user {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #c5d0ff;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1vw;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px black;
}
.user__avatar {
  margin-left: 25%;
  margin-right: 25%;
}
.user__text-info {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #01184d;
  border-radius: 10px;
  margin-top: 1vw;
  box-shadow: 0 0 3px 0 #0000a4;
}
@media (max-width: 1024px) {
  .user__text-info {
    width: 100%;
  }
}
.user__info-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4px;
}
.user__name-of-info {
  width: 29%;
  background-color: #c3d3ee;
  border-radius: 5px;
  padding: 5px;
  word-break: break-word;
}
.user__info {
  width: 70%;
  text-align: end;
  background-color: #c3d3ee;
  border-radius: 5px;
  padding: 5px;
  margin: 0;
  word-break: break-word;
}
.user__additional-abilities {
  margin: 1vw;
}

.additional-abilities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: -moz-fit-content;
  width: fit-content;
  align-items: baseline;
}
@media (max-width: 1024px) {
  .additional-abilities {
    flex-direction: row;
    width: 100%;
  }
}
.additional-abilities__ability {
  margin: 0.5vw;
}
.additional-abilities__link {
  text-decoration: none;
  color: white;
}
.additional-abilities__link:hover {
  color: black;
}

.avatar {
  display: flex;
  justify-content: center;
  align-self: center;
  justify-self: center;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: solid 2px black;
  border-radius: 50%;
}
.avatar__image {
  width: 100%;
}

.block-user-button, .unlock-user-button, .delete-user-button, .view-profile, .role {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  transition: background-color 0.5s, color 1s, border 1s;
  background-color: #6e01d3;
  color: white;
  box-shadow: 0 0 5px 1px #5e5eff;
  border: none;
  font-weight: 600;
}
.block-user-button:hover, .unlock-user-button:hover, .delete-user-button:hover, .view-profile:hover, .role:hover {
  color: #000464;
  background-color: #da7bff;
  box-shadow: 0 0 10px 1px #3c3cfa;
}
@media (min-width: 1800px) {
  .block-user-button, .unlock-user-button, .delete-user-button, .view-profile, .role {
    width: 300px;
    height: 50px;
  }
}
@media (max-width: 768px) {
  .block-user-button, .unlock-user-button, .delete-user-button, .view-profile, .role {
    font-size: 1.2em;
  }
}

.view-profile__link {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-profile__link:hover {
  color: #000464;
}

.role {
  align-items: baseline;
}
.role__name {
  color: #ffffff;
  font-weight: 600;
}
.role__selector {
  border: none;
  background-color: #00057e;
  color: white;
  margin-left: 5px;
  height: 100%;
  flex-grow: 1;
  border-radius: 5px;
  transition: background-color 0.5s, color 1s;
}
.role__selector:hover {
  cursor: pointer;
  background-color: #b5b7fc;
  color: black;
}
.block-user-button:hover {
  color: #ffffff;
  background-color: #e10000;
  box-shadow: 0 0 10px 1px #770000;
}

.unlock-user-button:hover {
  color: #ffffff;
  background-color: #2ba100;
  box-shadow: 0 0 10px 1px #118600;
}

.delete-user-button:hover {
  color: #ffffff;
  background-color: #e10000;
  box-shadow: 0 0 10px 1px #770000;
}
