.answers-to-questions {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.answers-to-questions__question {
  margin: 1vw 0 0 0;
}
.answers-to-questions__answers {
  margin: 0 0 15px 0;
}
.answers-to-questions__search {
  margin-top: 30px;
  margin-bottom: 30px;
}

.question {
  background-color: #d8d9f0;
  padding: 10px;
  border-radius: 10px;
  max-width: 100%;
  width: 95%;
}
.question__description {
  font-size: 1.1em;
  text-align: justify;
  white-space: pre-wrap;
}
.question__additional-info {
  margin-top: 20px;
}
.additional-info {
  display: flex;
  flex-direction: column;
}
.answers {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.answers__answer {
  margin-top: 1vw;
}
.answers__loader {
  width: 100px;
}

.answer {
  background-color: #c5ff9f;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
.answer__text {
  font-size: 1em;
  text-align: justify;
  white-space: pre-wrap;
}
.answer__additional-info {
  margin-top: 20px;
}

.create-answer {
  width: 95%;
  display: flex;
  flex-direction: column;
  padding: 2vw;
  align-items: flex-end;
}
@media (max-width: 767px) {
  .create-answer {
    align-items: center;
  }
}
.create-answer__input-text {
  width: 100%;
  height: 100px;
  max-height: 330px;
  padding: 15px;
  outline: none;
  resize: none;
  font-size: 1.1em;
  margin-top: 20px;
  border-radius: 5px;
  border-color: #bfbfbf;
}
.create-answer__input-text::-webkit-scrollbar {
  width: 0;
}
.create-answer__submit {
  margin-top: 10px;
  width: 150px;
  background-color: rgb(34, 36, 38);
  color: #e7d7b9;
  border-radius: 10px;
}

.additional-abilities {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 767px) {
  .additional-abilities {
    justify-content: center;
  }
}
.additional-abilities__button {
  margin-left: 10px;
  margin-top: 10px;
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.search__text {
  width: 70%;
  height: 40px;
  padding: 15px;
  outline: none;
  resize: none;
  font-size: 1.1em;
  border-radius: 5px;
  border-color: #bfbfbf;
}
@media (max-width: 500px) {
  .search__text {
    width: 95%;
  }
}
.search__only-my {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
@media (max-width: 500px) {
  .search__only-my {
    margin-left: 0;
  }
}
.search__checkbox {
  width: 20px;
  height: 15px;
}
.search__label {
  font-size: 1.2em;
  font-weight: 600;
}
