.programming-language {
  padding: 1vw 1vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  height: -moz-fit-content;
  height: fit-content;
}
.programming-language__logo {
  width: 30%;
  height: auto;
}
.programming-language__name {
  width: 65%;
  max-width: 65%;
  align-self: center;
  margin-left: 1vw;
  font-size: 3em;
  word-break: break-word;
}
@media (max-width: 768px) {
  .programming-language__name {
    font-size: 2.5em;
  }
}
@media (max-width: 500px) {
  .programming-language__name {
    font-size: 2em;
  }
}
.programming-language__description {
  display: block;
  word-break: break-word;
  margin-top: 1vw;
  margin-bottom: 1vw;
  text-align: justify;
  font-size: 1.3em;
}
.programming-language__programs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.program-in-programming-language__content {
  background-color: #718096;
  width: 300px;
  height: 120px;
  margin: 1vw;
  border-radius: 15px;
  box-shadow: 0 0 2px 1px black;
  overflow: hidden;
}
.program-in-programming-language__content:hover {
  background-color: #7889a2;
  box-shadow: 0 1px 2px 1px black;
}
@media (min-width: 1440px) {
  .program-in-programming-language__content {
    width: 350px;
    height: 150px;
  }
}
@media (min-width: 1800px) {
  .program-in-programming-language__content {
    width: 500px;
    height: 200px;
  }
}
.program-in-programming-language__link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  display: flex;
  align-items: center;
  padding: 2%;
}
.program-in-programming-language__image {
  width: 30%;
  height: auto;
}
.program-in-programming-language__name {
  color: white;
  width: 70%;
  margin-left: 1%;
  font-size: 1.2em;
  word-break: break-word;
}
