input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  border-bottom: solid 2px black;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}
.sign-up__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 300px;
  background-color: rgba(99, 158, 243, 0.66);
  border-radius: 20px;
  padding: 2vw;
  margin: 1vw;
}
.sign-up__title {
  color: #1b2f57;
}
.sign-up__form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.sign-up__additional-links {
  width: 100%;
}
.sign-up-form {
  padding: 1vw;
  width: 100%;
}
.sign-up-form__error {
  color: red;
  font-weight: bold;
  font-size: 1.1em;
}
.sign-up-form__input-field {
  display: block;
  width: 100%;
  margin-bottom: 0.5vw;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px black;
  font-weight: 600;
  outline: none;
  font-size: 1.1em;
}
.sign-up-form__input-field--checkbox {
  margin-bottom: 0;
  margin-left: 5px;
  width: 15px;
  height: 15px;
}
.sign-up-form__remember-me {
  display: flex;
  align-items: center;
}
.sign-up-form__more-input-fields {
  margin: 5px 0;
}
.more-input-fields {
  display: flex;
}
.additional-link {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.additional-link__label {
  color: #031e48;
  font-weight: 400;
  font-size: 1em;
}
@media (min-width: 1600px) {
  .additional-link__label {
    font-size: 1.1em;
  }
}
@media (max-width: 768px) {
  .additional-link__label {
    font-size: 1.1em;
  }
}
.additional-link__link {
  color: #0b3486;
  font-size: 1em;
}
@media (min-width: 1600px) {
  .additional-link__link {
    font-size: 1.1em;
  }
}
@media (max-width: 768px) {
  .additional-link__link {
    font-size: 1.1em;
  }
}
