.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #4a5568;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 5px 1px #000000;

  &__container{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

}
.info {
  display: flex;
  align-items: center;
  // .info__logo

  &__logo {
    width: 50px;
    height: 50px;

    @media(min-width: 1800px) {
      width: 80px;
      height: 80px;
    }
  }

  // .info__title

  &__title {
    font-size: 2em;
    color: #ffffff;
    text-shadow: 2px 1px #000000;
  }

  &__link {
    text-decoration: none;
  }
}

.references {
  flex-shrink: 3;
  align-items: center;
  display: flex;

  @media(max-width: 500px) {
    width: 100%;
    flex-direction: column;
  }

  &__link {
    align-self: center;
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;

    &:hover {
      color: #fddba4;
    }

    @media(max-width: 500px) {
      align-self: flex-start;
      margin: 3px 10px;
    }
  }
}
