.questions-and-answers {
  width: 100%;

  &__title {
    text-align: center;
  }

  &__questions {
  }

  &__question {
    margin: 0 1vw 10px 1vw;
  }

  &__create-question {
  }

  &__search {
    margin-bottom: 30px;
  }
}

.question {
  background-color: #d8d9f0;
  border-radius: 10px;
  padding: 10px;

  &__author {
  }

  &__text {
    color: #0b3486;
    font-size: 1.8em;
  }

  &__additional-info {
  }

  &__link-to-answers {
    text-decoration: none;
  }
}

.additional-info {
  display: flex;
  flex-direction: column;

  &__date {
    width: fit-content;

    &--date-of-creating {
    }

    &--date-of-editing {
    }
  }

  &__count-of-answers {
    width: fit-content;
    background-color: #80e880;
    color: #11441c;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
  }
}

.create-question {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2vw;
  align-items: flex-end;

  @media (max-width: 767px) {
    align-items: center;
  }

  &__input-title, &__input-description {
    width: 100%;
    padding: 15px;
    outline: none;
    resize: none;
    font-size: 1.1em;
    margin-top: 20px;
    border-radius: 5px;
    border-color: #bfbfbf;
  }

  &__input-title {
    height: 40px;
  }

  &__input-description {
    height: 100px;
    max-height: 330px;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__submit {
    margin-top: 10px;
    width: 150px;
    background-color: rgb(34,36,38);
    color: #e7d7b9;
    border-radius: 10px;
  }
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__text {
    width: 70%;
    height: 40px;
    padding: 15px;
    outline: none;
    resize: none;
    font-size: 1.1em;
    border-radius: 5px;
    border-color: #bfbfbf;

    @media (max-width: 500px) {
      width: 95%;
    }
  }

  &__only-my {
    display: flex;
    align-items: center;
    margin-left: 10px;

    @media (max-width: 500px) {
      margin-left: 0;
    }
  }

  &__checkbox {
    width: 20px;
    height: 15px;
  }

  &__label {
    font-size: 1.2em;
    font-weight: 600;
  }
}